/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.event-container {
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
}

.event-table > thead {
    font-weight: bold;
}

.action-btn {
    padding: 0 2px;
}