/* Space out content a bit */
body {
    font-family: 'Roboto' sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.event-container {
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
}

.event-table > thead {
    font-weight: bold;
}

.city-name-grouping-header {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.action-btn {
    padding: 0 2px;
}