<div class="modal-header">
    <h3 class="modal-title">{{event.name}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <form class="col-sm-6">
            <div class="form-group">
                <span>Name:</span>
                <input type="text" class="form-control" ng-model="editingEvent.name">
            </div>
        </form>
        <form class="col-sm-6">
            <div class="form-group">
                <span>Date:</span>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="editingEvent.date" is-open="opened" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </form>
    </div>
    <div class="row">
        <form class="col-sm-12">
            <div class="form-group">
                <span>Venue:</span>
                <input type="text" class="form-control" ng-model="editingEvent.venue.name">
            </div>
        </form>
    </div>
    <div class="row">
        <form class="col-sm-6">
            <div class="form-group">
                <span>City:</span>
                <input type="text" class="form-control" ng-model="editingEvent.venue.city">
            </div>
        </form>
        <form class="col-sm-6">
            <div class="form-group">
                <span>State:</span>
                <select class="form-control" ng-model="editingEvent.venue.state"
                        ng-options="state.name as state.name for state in states"></select>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
